[submodule "Copper/vendor/spdlog"]
	path = Copper/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Copper/vendor/glm"]
	path = Copper/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "Copper/vendor/glfw"]
	path = Copper/vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "Copper/vendor/imgui"]
	path = Copper/vendor/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Copper/vendor/pugixml"]
	path = Copper/vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "Copper/vendor/googletest"]
	path = Copper/vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "Copper/vendor/zlib"]
	path = Copper/vendor/zlib
	url = https://github.com/madler/zlib.git
